.card-extrato {
  display: flex;
 
  justify-content: center;
  background: #ffffff;
  padding: 12px 18px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 15px;
  width: 90vw;
  border: 2px solid black;
  gap: 20%;
}



.nome {
  font-weight: bold;
}

.local {
  color: #444;
}

.data {
  color: #666;
}

.valor {
  font-weight: bold;
  text-align: right;
}

.valor.negativo {
  color: red;
}

.valor.positivo {
  color: green;
}