.card-extrato {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  padding: 12px 18px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 15px;
  width: 90vw;
  border: 1px solid black;
}


.col-esquerda {
  display: flex;
  flex-direction: column;
  gap: 4px; 
}

.nome {
  font-weight: bold;
}


.col-meio {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 4px;
}

.data {
  color: #555;
}




.col-direita {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.valor {
  font-weight: bold;
}

.valor.negativo {
  color: red;
}

.valor.positivo {
  color: green;
}
