.Navbar-container-2{
    background-color: var(--cor-azul-marinho);
    height: 70px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border: 10px solid transparent;
}

.logoNav-2{
    width: 57px;
    border-radius: 10px;
    background-color: rgba(39, 42, 115, 0.255);
}

.navbar-center-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 12px;
}

.navbar-left-2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-spacer-2{
    width: 57px;
}