*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.html, body, #root{

  min-height: 100vh;

}  
:root{
  --cor-azul-marinho: #243a69;
  --cor-preto: #191013;
  --cor-cinza-claro: #D4CDC5;
  --cor-branco: #F4F4F2;
  --cor-azul-pastel: #5B88A5;
  
}