.anunciar-container {
    display: flex;
    height: 100vh;
    background: #9c9797;
}

/* ----- COLUNA ESQUERDA ----- */

.anunciar-produto{
    color: white;
    justify-content: center;

}
.form-area {
    width: 40%;
    overflow-y: scroll;
    background: var(--cor-azul-marinho);
    padding: 20px;
    border-right: 1px solid #000000;
}

.form-area label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: rgb(255, 255, 255);
}
 .pre-vizu-d{
    font-size: 30px;
    text-align: center;
 }

.form-area input,
.form-area textarea,
.form-area select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
    color: rgb(0, 0, 0);

}

.form-area button {
    margin-top: 15px;
    width: 100%;
    padding: 14px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-size: 17px;


}

/*-- Lado Direito --*/

.preview-area {
    width: 60%;
    padding: 20px;
}

.preview-media {
    width: 100%;
    height: 55%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}

.preview-media img,
.preview-media video {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 5px;
}

.preview-placeholder {
    color: #555;
}

.preview-thumbs {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.preview-thumbs img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.preview-info {
    margin-top: 15px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 6px;    
}
.inputs{
    color: rgb(0, 0, 0);

}
