.anunciar-container {
    display: flex;
    height: 100vh;
    background: #f1f1f1;
}

/* ----- COLUNA ESQUERDA ----- */
.form-area {
    width: 40%;
    overflow-y: scroll;
    background: white;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.form-area label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.form-area input,
.form-area textarea,
.form-area select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.form-area button {
    margin-top: 15px;
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
}

/* ----- COLUNA DIREITA PREVIEW ----- */
.preview-area {
    width: 60%;
    padding: 20px;
}

.preview-media {
    width: 100%;
    height: 55%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-media img,
.preview-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-placeholder {
    color: #555;
}

.preview-thumbs {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.preview-thumbs img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

/* ----- INFO TEXTO ----- */
.preview-info {
    margin-top: 15px;
    padding: 10px;
    background: white;
    border-radius: 6px;
}
