.carrinho-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    min-height: calc(100vh - 70px);
}

.cart-form {
    width: 80%;
    height: 90%;
    background-color: white;
    box-shadow: #000000a6 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin: 100px;
}