.controleFinanceiro-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-cinza-claro);
    min-height: 100%;
    width: 100%;
    gap: 5px;
  
}

.titulo-controleFinaceiro{
    display: flex;
    justify-content: center;
  border-bottom: 1px solid black;
  
    width: 100%;
}


.transacoes-controleFinanceiro{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:10px ;
    background-color: var(--cor-branco);
    width: 95%;
    height: 97%;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.762);
    padding-bottom: 10px;
    margin-bottom: 5px;

}

.grafico-controleFinanceiro {
  width: 50%;
  height: 30px;
  margin-top: 20px;
}

.informacoes-controleFinanceiro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}