.historico-transacoes-container{
    display: flex;
    background-color: var(--cor-cinza-claro);
    flex-direction: column;
    
}    

.historico-financeiro-central{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.navbar-titulo{
display: flex;
align-items: center;
flex-direction: column;
border-bottom: 1px solid black;
width: 100%;

}

.tabela-historico{
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-branco);
    width: 70%;
    height: 90vh;
    
}


