.perfil-container {
    display: flex;
    background-color: var(--cor-cinza-claro);
    align-items: center;
    min-height: 100vh;
}

.sidebar-container {
    display: flex;
    width: 25%;
    height: 100vh;
    background-color: var(--cor-azul-marinho);
    gap: 50px;
    align-items: center;
    flex-direction: column;
    
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.info-perfil {
    display: flex;
    justify-content: center center;
    border: 2px solid;
    border-color: var(--cor-azul-marinho);
    border-radius: 100%;
    height: 270px;
    width: 270px;
    background-color: var(--cor-branco);
    ;

}

.info {
    display: flex;
    flex-direction: column;
}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.title-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px;

}

.title-highlight {
    color: var(--cor-azul-pastel);
}

.button-sidebar {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.button-sidebar p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: white;
}

.button-sidebar::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: white;
    height: 2px;
    transition: 0.3s ease-out;
}

.button-sidebar:hover::after {
    width: 100%;
}

.button-logout {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
}

.button-logout p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: white;
}

.button-logout::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: #c90000;
    height: 2px;
    transition: 0.3s ease-out;
}

.button-logout p::before {
    position: absolute;
    content: "Sair";
    width: 0%;
    inset: 0;
    color: red;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.button-logout:hover::after {
    width: 100%;
}

.button-logout:hover p::before {
    width: 100%;
}

.button-edit{
    display: block;
    margin-left: 200px;
    padding: 2px;
    background-color: var(--cor-azul-marinho);
    cursor: pointer;
    border: none;
    border-radius: 100%;
}

.button-edit:hover{
    background-color: var(--cor-azul-pastel);
    scale: 1.1;
}

.container-foto-perfil{
      display: flex;
      flex-direction: column;
      align-items: center;
}


.parteDaFoto {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
}

.parteDaFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}