.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    min-height: calc(100vh - 70px);
}

/* From Uiverse.io by akshat-patel28 */ 
.form-container {
  width: 350px;
  height: 500px;
  box-shadow: #000000a6 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 100px;
  background: var(--cor-branco);
}

.title {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--cor-azul-marinho);

}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.form-btn {
  padding: 10px 15px;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: var(--cor-azul-marinho);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:hover{
    background-color: var(--cor-azul-pastel);
    transition: 0.3s ease-in;
    scale: 1.05;
    cursor: pointer;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 15px;
  color: #747474;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.sign-up-link {
  margin-left: 1px;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: var(--cor-azul-marinho);
  color: var(--cor-azul-marinho);
  cursor: pointer;
  font-weight: 800;
}